$htop-theme: #dad9ef;
$red-light: #ef5350;
$blue-light: #e6e9ff;
$blue-dark: #5365fd;
$white: #ffffff;
$gray: #9f9f9f;
$green-light: #d4f2e1;
$black-dark: #242633;
$yellow-light: #ffe0b2;
$yellow-dark: #a98974;
